{% extends "base.html" %}

{% block title %}product detail - Planteer{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <img src="{{ plant.image.url }}" alt="{{ plant.name }}" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h1>{{ plant.name }}</h1>
        <p>{{ plant.about }}</p>
        <p>Category: {{ plant.get_category_display }}</p>
        {% if plant.is_edible %}
            <p>This plant is edible.</p>
        {% else %}
            <p>This plant is not edible.</p>
        {% endif %}
        <div class="d-flex justify-content-end gap-2">

            <a href="{% url 'update_plant' plant.id %}" class="btn btn-primary">Update</a>

            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
        </div>
        
        
        <!-- Modal for Delete Confirmation -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Plant</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the plant "{{ plant.name }}"?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form action="{% url 'delete_plant' plant.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<br>
<h2>Related plants</h2>
<div class="row mt-2 row-cols-1 row-cols-md-3 g-4">

    {% for plant in related_plants %}
  
    <div class="col">
        
        <div class="d-flex flex-column justify-content-start align-items-start h-100 p-4 shadow gap-2">
          <img src="{{ plant.image.url }}" class="w-100 h-50  poster-thumb object-fit-cover"/>
          <a class="text-decoration-none text-black" href="{% url 'plant_detail' plant.id %}">
              <h3>{{ plant.name }}</h3>
          </a>
          <h5>{{ plant.about|truncatewords:30 }}</h5>
          <h6>{{ plant.category }}</h6>
        </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}